<!-- <div class="container">

  <header>
    <h1>Dynamic Template Example</h1>
  </header>

  <nav>
    <ul>
      <li>
        <a routerLink="./form-generator" routerLinkActive>Form Generator</a>
      </li>
      <li>
        <a routerLink="./form-viewer" routerLinkActive>Form Viewer</a>
      </li>
    </ul>
  </nav>

  <article>
    <router-outlet></router-outlet>
  </article>

  <footer>

  </footer>

</div> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 2</a>
      </li>
      <li>
        <a href="#">Page 3</a>
      </li>
    </ul>
  </div>
</nav>
